{% import "_includes/forms" as forms %}

{{ forms.textField({
	first:        true,
	label:        "Pfad zum version.txt File (inkl. Filename)",
	id:           'pathToVersionTxt',
	name:         'pathToVersionTxt',
	instructions: "Pfad zum File «version.txt» von Craft basePath. Der Inhalt des Files wird als Cache-Buster verwendet (?v=[version.txt])",
	value:        (settings.pathToVersionTxt ? settings.pathToVersionTxt : 'version.txt'),
	autofocus:    true,
	errors:       settings.getErrors('pathToVersionTxt')
}) }}

{{ forms.textField({
	label:        "Cache-Buster String",
	id:           'cacheBusterString',
	name:         'cacheBusterString',
	instructions: "Wird der Version vorangestellt: ?v=1.0.2",
	value:        (settings.cacheBusterString ? settings.cacheBusterString : '?v='),
	autofocus:    true,
	errors:       settings.getErrors('cacheBusterString')
}) }}
